.userPhoto {
    width: 150px;

}

.selectedPage {
    color: red;
}

.shadow {
    border-radius: 6px;
    width: 170px;
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 4px 10px rgba(0, 0, 0, 0.16);

}
.inputClass{
    margin: 5px 0;
}